<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainSuite">
    <listeners>
        <listener class-name="test.java.Utils.Listener"/>
        <listener class-name="test.java.Utils.AnnotationTransformer"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="test.java.Test.MainTest">
                <methods>
                    <include name="checkAdminPanelTitle"/>
                    <include name="checkLeftMenuItemHeadings"/>
                    <exclude name="testFail"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>