<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainSuite">
    <listeners>
        <listener class-name="test.java.Utils.Listener"/>
        <listener class-name="test.java.Utils.AnnotationTransformer"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="test.java.Test.AdminPanelTest">
                <methods>
                    <include name="checkAdminPanelTitle"/>
                    <include name="checkLeftMenuItemHeadings"/>
                    <include name="checkCountriesSorting"/>
                    <include name="checkCountryZonesSorting"/>
                    <exclude name="testFail"/>
                </methods>
            </class>
            <class name="test.java.Test.MainPageTest">
                <methods>
                    <include name="checkMainPageTitle"/>
                    <include name="checkProductHasOneSticker"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>