<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainSuite">
    <listeners>
        <listener class-name="test.java.Utils.Listener"/>
        <listener class-name="test.java.Utils.AnnotationTransformer"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="test.java.Test.AdminPanelTest">
                <methods>
                    <include name="checkAdminPanelTitle"/>
                    <include name="checkLeftMenuItemHeadings"/>
                    <include name="checkCountriesSorting"/>
                    <include name="checkCountryZonesSorting"/>
                    <include name="checkCountryGeoZonesSorting"/>
                    <exclude name="testFail"/>
                </methods>
            </class>
            <class name="test.java.Test.MainPageTest">
                <methods>
                    <include name="checkMainPageTitle"/>
                    <include name="checkProductHasOneSticker"/>
                    <include name="checkCorrectProductName"/>
                    <include name="checkProductRegularPrice"/>
                    <include name="checkProductCampaignPrice"/>
                    <include name="checkProductRegularPriceColor"/>
                    <include name="checkProductRegularPriceStrike"/>
                    <include name="checkProductRegularPriceFontSize"/>
                    <include name="checkProductCampaignPriceColor"/>
                    <include name="checkProductCampaignBoldPrice"/>
                    <include name="checkProductCampaignPriceFontSize"/>
                    <include name="checkProdRegularPriceColor"/>
                    <include name="checkProdRegularPriceStrike"/>
                    <include name="checkProdRegularPriceFontSize"/>
                    <include name="checkProdCampaignPriceColor"/>
                    <include name="checkProdCampaignBoldPrice"/>
                    <include name="checkProdCampaignPriceFontSize"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>